<div id="container">
    <header>
	    <h1>machine learning project</h1>
	    <p>by health programming team</p>
    </header>
</div>
<div>
  <img src="https://avatars0.githubusercontent.com/u/23077931?s=460&u=14616517f6d1b280745a0239315f4e675f3e9eb8&v=4" id="small-logo" />

  <h1>Objective of the project</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam velit sit enim hic maiores. Obcaecati, laborum tempore, tenetur atque vel perferendis corporis saepe, repellat quo placeat ullam iste ex veritatis?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam velit sit enim hic maiores. Obcaecati, laborum tempore, tenetur atque vel perferendis corporis saepe, repellat quo placeat ullam iste ex veritatis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam velit sit enim hic maiores. Obcaecati, laborum tempore, tenetur atque vel perferendis corporis saepe, repellat quo placeat ullam iste ex veritatis?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam velit sit enim hic maiores. Obcaecati, laborum tempore, tenetur atque vel perferendis corporis saepe, repellat quo placeat ullam iste ex veritatis?</p>
  
    <h1>Use of the platform</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam velit sit enim hic maiores. Obcaecati, laborum tempore, tenetur atque vel perferendis corporis saepe, repellat quo placeat ullam iste ex veritatis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam velit sit enim hic maiores. Obcaecati, laborum tempore, tenetur atque vel perferendis corporis saepe, repellat quo placeat ullam iste ex veritatis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam velit sit enim hic maiores. Obcaecati, laborum tempore, tenetur atque vel perferendis corporis saepe, repellat quo placeat ullam iste ex veritatis?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam velit sit enim hic maiores. Obcaecati, laborum tempore, tenetur atque vel perferendis corporis saepe, repellat quo placeat ullam iste ex veritatis?</p>
  
    <h1>Project development team</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam velit sit enim hic maiores. Obcaecati, laborum tempore, tenetur atque vel perferendis corporis saepe, repellat quo placeat ullam iste ex veritatis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam velit sit enim hic maiores. Obcaecati, laborum tempore, tenetur atque vel perferendis corporis saepe, repellat quo placeat ullam iste ex veritatis?</p>
</div>