<!-- Our team Section -->

<section id="team" class="team content-section">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1>Tsswira.com : Détection d'hémorragie via des images radio (Version Beta)</h1>
        <p>by health programming team</p>
        <h3 class="caption gray"> C'est une plateforme à accès distant consacrée à la <mark>détection</mark> ,
          <mark>classification</mark> et <mark>visualisation</mark> des hémorragies cérébrales utilisant des images radio. Elle est composée de trois outils:
          <br />

          <li>Espace de stockage sécurisé des données ainsi que leur organisation.</li>

          <li>Outil de visualisation des scanners(ct-scans) existants dans l’espace de stockage.</li>

          <li>Outil d’aide à la détection des hémorragies ainsi que la classification de leurs types( (péridurale, intraparenchymateuse, intraventriculaire, sous-arachnoïdienne, sous-durale).</li>

        </h3>
      </div><!-- /.col-md-12 -->
    </div>
  </div>
</section>
<section id="team" class="team content-section">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2>Notre équipe</h2>
        <h3 class="caption gray">Rencontrez les gens qui sont derrière les écrans pour réaliser des travaux géniaux</h3>
      </div><!-- /.col-md-12 -->

      <div class="container">
        <div class="row">

          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img
                  src="https://avatars0.githubusercontent.com/u/23077931?s=460&u=14616517f6d1b280745a0239315f4e675f3e9eb8&v=4"
                  alt="" class="img-responsive">
                <figcaption>
                  <p>java / JEE software engineer, masters in bioengineering. Team Leader</p>
                  <ul>
                  
                    <li><a href="https://www.linkedin.com/in/aminejait"><i class="fa fa-linkedin fa-2x"></i></a></li>
                  </ul>
                </figcaption>
              </figure>
              <h4>JAIT Amine</h4>
              <p>Co-founder</p>
            </div><!-- /.team-member-->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img
                  src="https://avatars0.githubusercontent.com/u/35850921?s=400&u=379307126af840790a792d145c258c7f92604019&v=4"
                  alt="" class="img-responsive">
                <figcaption>
                  <p>java / JEE software engineer, Phd in modeling and simulation.</p>
                  <ul>
                    
                    <li><a href="https://www.linkedin.com/in/zineelabidine-bakher"><i class="fa fa-linkedin fa-2x"></i></a></li>
                  </ul>
                </figcaption>
              </figure>
              <h4>Zineelabidine BAKHER</h4>
              <p>Co-founder</p>
            </div><!-- /.team-member-->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHD_SqOLSPTAQ/profile-displayphoto-shrink_200_200/0?e=1596672000&v=beta&t=zEt-wBn4qP01lOwku-ZhSSF6F3IifocQ1kEnaQaatoE" alt=""
                  class="img-responsive">
                <figcaption>
                  <p>java / JEE software engineer, industrial process engineer</p>
                  <ul>
                    <li><a href="https://www.linkedin.com/in/zakaria-karwan-b42a0bbb/"><i class="fa fa-linkedin fa-2x"></i></a></li>

                  </ul>
                </figcaption>
              </figure>
              <h4>Zakaria KARWAN</h4>
              <p>Co-founder</p>
            </div><!-- /.team-member-->
          </div><!-- /.col-md-4 -->


        </div><!-- /.row -->
      </div><!-- /.container -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.our-team -->

<div id="container">

</div>
