<div class="container">
  <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <img [src]="imageUser" class="img-responsive" alt="" />
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            {{ username }}
          </div>
          <div class="profile-usertitle-job">
            {{ email }}
          </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <div class="profile-userbuttons">
          <button type="button" class="btn btn-success btn-sm" (click)="goupload()">
            new prediction
          </button>
        </div>
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav">
            <li class="active">
              <a href="#">
                <i class="glyphicon glyphicon-home"></i>
                Overview
              </a>
            </li>
          

            <li>
              <a href="#">
                <i class="glyphicon glyphicon-flag"></i>
                Help
              </a>
            </li>
          </ul>
        </div>
        <!-- END MENU -->
        <div class="portlet light bordered">
         

        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="profile-content">
        Liste des images et résultats
        <table>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Image</th>
            <th scope="col">Resultat</th>
            <th scope="col">Inspecter comme dicom</th>
          </tr>
          <tr *ngFor="let image of List">
            <th>{{ image.date }}</th>
            <th>
              <img src="data:image/jpeg;base64,{{ image.image64 }}" />
              <!-- <a href="{{ image.imageUrl }}"></a>
              </a> -->
            </th>
            <th>
              hematome: {{ image.result.any }} <br />
              epidural: {{ image.result.epidural }} <br />
              intra-parenchymateux: {{ image.result.intraparenchymal }} <br />
              intraventriculair: {{ image.result.intraventricular }}<br />
              sous-arachnoïdien: {{ image.result.subarachnoid }} <br />
              sous-dural: {{ image.result.subdural }}
            </th>
            <th>
              <button type="button" title="select images" (click)="viewAsDicom(image.imageUrl)">
                view as dicom
              </button>
            </th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>