<header class="main_h">
  <div class="row">
    <a class="logo" href="#">HPT</a>

    <div class="mobile-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <nav>
      <ul>
        <li><a href=".sec01">Video explicatif</a></li>
        <li><a href=".sec02">Project diagram</a></li>
        <li><a href=".sec03">Essayer tsswira.com</a></li>
       
      </ul>
    </nav>
  </div>
  <!-- / row -->
</header>

<div class="hero">
  <h1><span>health programming team</span><br />Tsswira.com</h1>

  <div class="mouse">
    <span></span>
  </div>
</div>
<div class="row content">
  <h1 class="sec01">Vidéo explicatif pour utiliser la plateforme </h1>
  <p>
    <iframe src="https://www.youtube.com/embed/ts8lIcMzfHc"
   width="1000" height="400" frameborder="0" allowfullscreen></iframe>
  </p>
  <h1 class="sec02">Diagramme de projet</h1>
  <p>
    <img
      src="assets\images\schma.jpg"
      alt="Intro Gallery Room Sample Pictures"
    />
  </p>
  <h1 class="sec03">les étapes pour utiliser la plateforme</h1>
  <p>
    <img
      src="assets\images\schéma2.jpg"
      alt="Intro Gallery Room Sample Pictures"
    />
  </p>
  <h1 class="sec04">Vous voulez Essayer Tsswira.com: </h1>
  <p>Pour essayer la platform il faut uploader un fichier dicom qui contient un ct-scan en coupe transversale
     du cerveau. En bas vous pouvez télécharger un fichier demo qui ne contient aucune information du patient concerné.
     
  </p>
  <div style="text-align: center;">
   
    <a href="assets\images\image1.dcm" download="image1.dcm" ><i class="fa fa-download" aria-hidden="true"></i> Image dicom </a>
   </div>
</div>
