<header class="main_h">
  <div class="row">
    <a class="logo" href="#">HPT</a>

    <div class="mobile-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <nav>
      <ul>
        <li><a href=".sec01">Project diagram</a></li>
        <li><a href=".sec02">Using the platform</a></li>
      </ul>
    </nav>
  </div>
  <!-- / row -->
</header>

<div class="hero">
  <h1><span>health programming team</span><br />machine learning project</h1>

  <div class="mouse">
    <span></span>
  </div>
</div>
<div class="row content">
  <h1 class="sec01">Project diagram</h1>
  <p>
    <img
      src="assets\images\schma.jpg"
      alt="Intro Gallery Room Sample Pictures"
    />
  </p>
  <h1 class="sec02">Using the platform</h1>
  <p>
    <img
      src="assets\images\schéma2.jpg"
      alt="Intro Gallery Room Sample Pictures"
    />
  </p>
</div>
